.App {
  text-align: center;
}

.TodoWrapper h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

.todo-btn{  
  background-color: gray;  
  border: none;
  border-radius: 4px 4px 4px 4px;
  color: white;  
  padding: 5.5px 15px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 15px;
}

.todo-btn1{
  background-color: gray;  
  border: none;  
  border-radius: 4px 4px 4px 4px;
  color: white;  
  padding: 5.5px 15px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 15px;
  margin-right: 3px;
}

.todo-btn2{
  background-color: gray;  
  border: none;  
  border-radius: 4px 4px 4px 4px;
  color: white;  
  padding: 5.5px 15px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 15px;
}

.todo-input{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-right: 3px;

}

.TodoForm{
  margin-bottom: 7px;
}

.Todo p{
  margin-right: 3px;
}
